
* Apply styles to the navigation bar */



    .container {
		padding:10px;
      background:#D3D3D3;
      padding: 10px;
    }

    /* Apply styles to the list items within the container */
    .container ul {
      list-style: none;
      padding: 0;
		display:flex;
    }
    .container li {
      display: inline;
      margin-right: 1rem;
    }